.DS_Store
node_modules
docs
dist/demo.html
package-lock.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/.idea/codeStyles/codeStyleConfig.xml
/.idea/.gitignore
/.idea/deployment.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/vue-document-editor.iml
