.editor {
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: default;
}

.editor ::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}

.editor ::-webkit-scrollbar-track,
.editor ::-webkit-scrollbar-corner {
	display: none;
}

.editor ::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.5);
	border: 5px solid transparent;
	border-radius: 16px;
	background-clip: content-box;
}

.editor ::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.editor .hide_children > * {
	display: none;
}

.editor > .content {
	position: relative;
	outline: none;
	margin: 0;
	padding: 0;
	min-width: 100%;
	pointer-events: none;
}

.editor > .content > :deep(.page) {
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	transform-origin: center top;
	background: var(--page-background, white);
	box-shadow: var(--page-box-shadow, 0 1px 3px 1px rgba(60, 64, 67, 0.15));
	border: var(--page-border);
	border-radius: var(--page-border-radius);
	transition: left 0.3s, top 0.3s;
	overflow: hidden;
	pointer-events: all;
}

.editor > .content[contenteditable],
.editor > .content :deep(*[contenteditable]) {
	cursor: text;
}

.editor > .content :deep(*[contenteditable=false]) {
	cursor: default;
}

.editor > .overlays {
	position: relative;
	margin: 0;
	padding: 0;
	min-width: 100%;
	pointer-events: none;
}

.editor > .overlays > .overlay {
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	transform-origin: center top;
	transition: left 0.3s, top 0.3s;
	overflow: hidden;
	z-index: 1;
}
